@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <form action="/tasks" method="post">
            <div class="form-group">
                <label for="description">Enter a description for your task</label>
                <input type="text" id="description" name="description" />
            </div>
            <button class="btn btn-primary" type="submit">Add</button>
            <a href="/" type="button" class="btn btn-primary">Return to Home</a>
        </form>
    </div>
</div>