@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>ToDoList Maker</h1>
            <p>Organize your goals in one location!</p>
        </div>
        <h3>What would you like to do?</h3>
        <a href="/form" type="button" class="btn btn-primary">Add New Task</a>
        <a href="/tasks" type="button" class="btn btn-primary">View Current Tasks</a>
    </div>
</div>